<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vertical Header (Flowbite + Tailwind)</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div th:replace="~{component/header :: header}" ></div>


<section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased" style="margin-left: 20vw; padding-top: 0px;">
    <div>
        <a th:href="@{/cart/cart-list}">
            <button type="button"
                    class="my-3 px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-300">
                Quay lại
            </button>
        </a>
    </div>
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
        <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
            <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
                <img class="w-full dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg" alt="" th:src="${productDetail.imageUrl}"/>
                <img class="w-full hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg" alt="" th:src="${productDetail.imageUrl}" />
            </div>

            <div class="mt-6 sm:mt-8 lg:mt-0">
                <h1
                        class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
                        th:text="${productDetail.name}"
                >
                    Apple iMac 24" All-In-One Computer, Apple M1, 8GB RAM, 256GB SSD,
                    Mac OS, Pink
                </h1>
                <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
                    <p
                            class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white"
                            th:text="${#numbers.formatDecimal(productDetail.price, 1, 'COMMA', 1, 'POINT')}"
                    >
                        $1,249.99
                    </p>

                    <div class="flex items-center gap-2 mt-2 sm:mt-0">
                        <div class="flex items-center gap-1">
                            <svg
                                    class="w-4 h-4 text-yellow-300"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    viewBox="0 0 24 24"
                            >
                                <path
                                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                            </svg>
                            <svg
                                    class="w-4 h-4 text-yellow-300"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    viewBox="0 0 24 24"
                            >
                                <path
                                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                            </svg>
                            <svg
                                    class="w-4 h-4 text-yellow-300"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    viewBox="0 0 24 24"
                            >
                                <path
                                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                            </svg>
                            <svg
                                    class="w-4 h-4 text-yellow-300"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    viewBox="0 0 24 24"
                            >
                                <path
                                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                            </svg>
                            <svg
                                    class="w-4 h-4 text-yellow-300"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    fill="currentColor"
                                    viewBox="0 0 24 24"
                            >
                                <path
                                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                                />
                            </svg>
                        </div>
                        <p
                                class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400"
                        >
                            (5.0)
                        </p>
                        <a
                                href="#"
                                class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white"
                        >
                            345 Reviews
                        </a>
                    </div>
                </div>

                <div class="flex items-center gap-2 my-5 sm:mt-0">
                    <div class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400">
                        Danh mục
                    </div>
                    <div
                            class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white"
                            th:text="${productDetail.categories[0].name}"
                    >
                        <a th:href="@{/cart/product/{id}(id=${productDetail.product_id})}" ></a>
                    </div>
                </div>

                <div class="flex items-center gap-2 mt-2 sm:mt-0">
                    <div class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400"
                         th:text="${productDetail.status}">
                    </div>
                    <div
                            class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white"
                            th:text="${productDetail.quantity + ' pcs'}"
                    >
                        345 Reviews
                    </div>
                </div>

                <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
                    <a
                            href="#"
                            title=""
                            class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                            role="button"
                    >
                        <svg
                                class="w-5 h-5 -ms-2 me-2"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                        >
                            <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                            />
                        </svg>
                        Add to favorites
                    </a>

                    <a
                            href="#"
                            title=""
                            class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
                            role="button"
                    >
                        <svg
                                class="w-5 h-5 -ms-2 me-2"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24"
                        >
                            <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
                            />
                        </svg>

                        Thêm vào giỏ hàng
                    </a>
                </div>

                <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

                <p class="mb-6 text-gray-500 dark:text-gray-400"
                   th:text="${productDetail.description}"
                >
                    Studio quality three mic array for crystal clear calls and voice
                    recordings. Six-speaker sound system for a remarkably robust and
                    high-quality audio experience. Up to 256GB of ultrafast SSD storage.
                </p>
            </div>
        </div>
    </div>
</section>

<!--same category-->
<div class="hidden xl:mt-8 xl:block"  style="margin-left: 20vw;">
    <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">Sản phẩm cùng danh mục</h3>
    <div class="mt-6 grid grid-cols-4 gap-4 sm:mt-8">
        <div  th:each="item : ${products}" class="space-y-6 overflow-hidden rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800">
            <a href="#" class="overflow-hidden rounded">
                <img th:src="${item.imageUrl}" class="mx-auto h-44 w-44 dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg" alt="imac image" />
                <img th:src="${item.imageUrl}" class="mx-auto hidden h-44 w-44 dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg" alt="imac image" />
            </a>
            <div>
                <a th:href="@{/cart/product/{id}(id=${item.product_id})}"  class="text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white" th:text="${item.name}">iMac 27”</a>
                <p class="mt-2 text-base font-normal text-gray-500 dark:text-gray-400" th:text="${item.description}">This generation has some improvements, including a longer continuous battery life.</p>
            </div>
            <div>
                <p class="text-lg font-bold text-gray-900 dark:text-white">
                    <span class="line-through" th:text="${#numbers.formatDecimal(item.price + 12345, 1, 'COMMA', 1, 'POINT')}"> $399,99 </span>
                </p>
                <p class="text-lg font-bold leading-tight text-red-600 dark:text-red-500" th:text="${#numbers.formatDecimal(item.price, 1, 'COMMA', 1, 'POINT')}">$299</p>
            </div>
            <div class="mt-6 flex items-center gap-2.5">
                <button data-tooltip-target="favourites-tooltip-1" type="button" class="inline-flex items-center justify-center gap-2 rounded-lg border border-gray-200 bg-white p-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">
                    <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6C6.5 1 1 8 5.8 13l6.2 7 6.2-7C23 8 17.5 1 12 6Z"></path>
                    </svg>
                </button>
                <div id="favourites-tooltip-1" role="tooltip" class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700">
                    Add to favourites
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <form th:action="@{/cart/add}" method="post">
                    <input type="hidden" name="productId" th:value="${item.product_id}"/>
                    <input type="hidden" name="quantity" value="1"/>
                    <button type="submit" class="inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium  text-dark hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Thêm vào giỏ hàng
                    </button>
                </form>

            </div>
        </div>
    </div>



</div>

<!--comment-->



<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

</body>
</html>